
.alignItems {
    width: 450px;
    margin: auto;
}

.contenedorItem {
    text-align: center;
    border: 1px solid black;
    margin: 3rem;
    padding: 3rem;
    color: #F2F1F1;
    background-color: rgb(33, 36, 41);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

 h2, h3{
    font-family: "Bigelow Rules", serif;
    font-weight: 400;
    font-style: normal;
}

img {
    width: 150px;
    margin: 1rem;
}