.cardProducto {
    background-color: rgb(33, 36, 41);
    border-radius: 10px;
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
}

.cardProducto img {
    width: 150px;
}